{% extends "wiki/base.html" %}
{% load static %}

{% block body %}
    {% for source in sources %}
        <div class="container">
            <h2>{{ source.title }}</h2>

            {% for ext_course in source.get_courses %}
                <article class="external-course">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" id="external_course_id" name="postId" value="{{ ext_course.id }}" />
                        <button class="button is-success" name="follow" value="assimilate" type="submit">Assimilate</button>
                    </form>
                    {% for key,value in ext_course.items %}
                        <section>
                            {% if key == 'authors' %}
                                {% for author in value %}
                                    <div>
                                        <h3>{{ author.name }}</h3>
                                        <p>{{ author.description }}</p>
                                        <img src="{{ author.photo_url }}" width="200"/>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <strong>{{ key }}:</strong> {{ value }}
                            {% endif %}
                        </section>
                    {% endfor %}

                </article>
            {% endfor %}
        </div>

    {% empty %}
        <p>Нет внешних источников курсов</p>
    {% endfor %}
{% endblock %}
