{% extends "wiki/base.html" %}
{% load static %}

{% block body %}
    {% for source in sources %}
        <div class="container">
            <h2>{{ source.title }}</h2>

            {% for ext_course in source.get_courses %}
                <div class="card card-body">
                    {% for key,value in ext_course.items %}
                        <p><strong>{{ key }}:</strong> {{ value }}</p>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>

    {% empty %}
        <p>Нет внешних источников курсов</p>
    {% endfor %}
{% endblock %}
