{% extends "wiki/base.html" %}
{% load static %}

{% block body %}
    {% for source in sources %}
        <div class="container">
            <h2>{{ source.title }}</h2>

            {% for ext_course in source.get_courses %}
                <div class="main">
                    {% for key,value in ext_course.items %}
                        {% if key == 'authors' %}
                            {% for author in authors %}
                                <div>
                                    <h3>{{ author.name }}</h3>
                                    <p>{{ author.description }}</p>
                                    <img src="{{ author.photo_url }}"/>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p><strong>{{ key }}:</strong> {{ value }}</p>
                        {% endif %}

                    {% endfor %}

                </div>
            {% endfor %}
        </div>

    {% empty %}
        <p>Нет внешних источников курсов</p>
    {% endfor %}
{% endblock %}
